EXPO_PUBLIC_API_URL="http://localhost:4000"
# Production build values: https://chakusa-api.onrender.com, and false for the
# five service flags below until their production services are enabled.
EXPO_PUBLIC_GOOGLE_AUTH_ENABLED="true"
EXPO_PUBLIC_APPLE_AUTH_ENABLED="true"
EXPO_PUBLIC_EMAIL_ENABLED="true"
EXPO_PUBLIC_PASSWORD_RESET_EMAIL_ENABLED="true"
EXPO_PUBLIC_AUTOMATION_ENABLED="true"
EXPO_PUBLIC_BILLING_ENABLED="false"
EXPO_PUBLIC_EAS_PROJECT_ID="00000000-0000-0000-0000-000000000000"
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID="618618639466-1sosi4hua8q64h0til1rjkam36cbpdvd.apps.googleusercontent.com"
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID="618618639466-03el8vtndca92oqjrcqv2f8uv7tqm41m.apps.googleusercontent.com"
EXPO_PUBLIC_APPLE_PRO_MONTHLY_PRODUCT_ID=""
EXPO_PUBLIC_GOOGLE_PRO_MONTHLY_PRODUCT_ID=""
EXPO_PUBLIC_APPLE_BUSINESS_MONTHLY_PRODUCT_ID=""
EXPO_PUBLIC_GOOGLE_BUSINESS_MONTHLY_PRODUCT_ID=""
EXPO_PUBLIC_PRIVACY_POLICY_URL="https://chakusa.com/privacy"
EXPO_PUBLIC_TERMS_OF_USE_URL="https://chakusa.com/terms"
EXPO_PUBLIC_SUPPORT_URL="https://chakusa.com/support"
EXPO_PUBLIC_SUPPORT_EMAIL="support@chakusa.com"
