EXPO_PUBLIC_API_URL="http://localhost:4000"
EXPO_PUBLIC_EAS_PROJECT_ID="00000000-0000-0000-0000-000000000000"
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID="your-google-web-client-id.apps.googleusercontent.com"
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID="your-google-ios-client-id.apps.googleusercontent.com"
EXPO_PUBLIC_APPLE_PRO_MONTHLY_PRODUCT_ID=""
EXPO_PUBLIC_GOOGLE_PRO_MONTHLY_PRODUCT_ID=""
EXPO_PUBLIC_PRIVACY_POLICY_URL="https://chakusa.com/privacy"
EXPO_PUBLIC_TERMS_OF_USE_URL="https://chakusa.com/terms"
EXPO_PUBLIC_SUPPORT_URL="https://chakusa.com/support"
EXPO_PUBLIC_SUPPORT_EMAIL="support@chakusa.com"
